﻿@using Companion.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/LoginTemplate/css/style.css" />

</head>
<body>
    <div class="login">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <h1>Companion</h1>
                    <hr />
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-red" })
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red" })
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                  
                                        @Html.RadioButtonFor(m => m.UserType, "DRIVER",new { @class = "radioLogin" ,id= "rad1"})
                                        <label for="radio-choice-21"  class="loginText" for="rad1">Driver</label>
                                        <br/>
                                       @Html.RadioButtonFor(m => m.UserType, "PASSENGER", new {@class= "radioLogin",id = "rad2" })
                                        <label for="radio-choice-22"  class="loginText" for="rad2">Passenger</label>


                                </div>
                            </div>
                        

                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-primary btn-block btn-large" />
                            </div>
                        </div>
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register", "", new { @class = "text-aqua" })
                                </p>

                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    <hr />
                    <p class="text-form">About Companion Project</p>


                </section>
            </div>
        </div>

    </div>


    <script src="~/Content/LoginTemplate/js/index.js"></script>

</body>
</html>

