﻿@using CompanionBl.Model
@using CompanionDal.Models
@model Companion.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/LoginTemplate/css/style.css" />

</head>
<body>
    <div class="login">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <h1>Companion</h1>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 class="text-form">Create a new account.</h3>
                        <hr />
@*                        @Html.ValidationSummary("", new { @class = "text-red" })*@

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label text-form"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control "})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label text-form"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.LastName, new {@class = "form-control "})
                            </div>
                        </div>
                        <ul>
                            @foreach (RoleData x in @ViewBag.AllRoles)
                            {

                                @Html.RadioButtonFor(m => m.UserType, @x.Name, new { @class = "radioLogin", id = "rad1" })
                                <label for="radio-choice-21" class="loginText" for="rad1">@x.Name</label>
                            
                            }
                        </ul>


                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label text-form"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control "})
                            </div>
                        </div>
                     <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label text-form" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label text-form"})
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                            </div>
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-red" })

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <script src="~/Content/LoginTemplate/js/index.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>






