﻿@using CompanionUtils
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <!-- Header -->
    <div id="header">
        <div class="top">

            <!-- Logo -->
            <div id="logo">

                <span class="image avatar48"><img src="~/Content/Template/images/avatar.jpg" alt="" /></span>
                <h1 id="title">@User.Identity.GetUserName()</h1>
                <p> @User.Identity.GetUserId()</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                  
                    @Html.Partial("~/Views/Partials/Filters.cshtml")

                    <li><a href="Home/Index" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Home</span></a></li>
                    <li><a href="About" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About</span></a></li>
                    <li><a href="Contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>

                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    </li>
                </ul>
            </nav>
        </div>

        <div class="bottom">
            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </div>

<section id="top" class="one dark cover">
    <div class="containerr">
        <div id="main">
@*            <div class="topDiv">*@
@*$1$              content  #1#*@
@*            </div>*@
            @RenderBody()
        </div>
    </div>
</section>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyhyLABTpjQOhWoHtUJoA9tT85nYc2sSM&callback=initMap">

    </script>
</body>
</html>
