﻿<h2>Filters</h2>
<li>
    SetDate:
    <br />
    <input name="from" type="datetime-local" value="2000-01-01T00:00:00+05:00" />
    <input name="to" type="datetime-local" value="2000-01-01T00:00:00+05:00" />
</li>
<li>SetLocation:</li>
From : <input type="text"name="fromLocation"/>
<br/>
To : <input type="text"name="toLocation"/>
<li>
    DRIVER : <input type="checkbox" name="driver"/>
    <br/>
    PASSENGER : <input type="checkbox" name="passenger" />
</li>
<li>
    Coverage
    <input type="number" name="coverange" value="100"/> 
</li>
<li>My Route</li>