﻿
<style>
    #map {
        height: 750px;
        width: 100%;
    }
</style>

<div id="map"></div>

<script>
    function initMap() {
        var uluru = { lat: -25.363, lng: 131.044 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<script src="~/Scripts/App/Home.Index.js"></script>
